/venv/
.DS_Store

## Step 4: Dataset Collection
/step4_dataset_collection/scripts/__pycache__/
/step4_dataset_collection/data/
/step4_dataset_collection/notebook/data/

## Step 5: Preprocess Split
/step5_preprocess_split/scripts/__pycache__/
/step5_preprocess_split/data/
/step5_preprocess_split/notebook/data/

## Step 6: Human Labeling
/step6_human_labeling/scripts/__pycache__/
/step6_human_labeling/data/
/step6_human_labeling/notebook/data/

## Step 7: GenAI Benchmark
/step7_genai_benchmark/scripts/__pycache__/
/step7_genai_benchmark/data/
/step7_genai_benchmark/scripts/.env
/step7_genai_benchmark/benchmark_labels.log
